//
  功能: 页面实际的顶部区域: 导航栏, 标题等等, 注意同layout/head.pug区分开来
  基本结构:
    <header id="page-header" class="变量" style="背景">
      <nav id="nav" class="show"></nav>
      <div id="post-info/site-info"></div>
    </header>
  注意, 对于自己生成的友链和tags页面, 在hexo中一致被当成是文章页面, 所以会走is_page流程, 这里需要注意

if !theme.disable_top_img && page.top_img !== false
  - var isTags = page.type === 'tags'
  - var isLink = page.type === 'link'
  - var isCategories = page.type === 'categories'

  if is_post()
    - var top_img = page.top_img || page.cover || theme.default_top_img
  else if is_page()
    if isTags 
      - var top_img = theme.tags_img && (page.top_img || theme.default_top_img)
    else if isLink 
      - var top_img = theme.link_img && (page.top_img || theme.default_top_img)
    else if isCategories 
      - var top_img = theme.categories_img && (page.top_img || theme.default_top_img)
    else
      - var top_img = page.top_img || theme.default_top_img
  else if is_tag()
    - var top_img = theme.tag_per_img && theme.tag_per_img[page.tag] 
    - top_img = top_img ? top_img : (theme.tag_img !== false ? theme.tag_img || theme.default_top_img : false)
  else if is_category()
    - var top_img = theme.category_per_img && theme.category_per_img[page.category]
    - top_img = top_img ? top_img : (theme.category_img !== false ? theme.category_img || theme.default_top_img : false)
  else if is_home()
    - var top_img = theme.index_img !== false ? theme.index_img || theme.default_top_img : false
  else if is_archive()
    - var top_img = theme.archive_img !== false ? theme.archive_img || theme.default_top_img : false
  else
    - var top_img = page.top_img || theme.default_top_img

  if top_img !== false
    - var imgSource = top_img && isImgOrUrl(top_img) ? `background-image: url('${url_for(top_img)}')` : `background: ${top_img}`
    - var bg_img = top_img ? imgSource : ''
    - var site_title = page.title || page.tag || page.category || config.title
    - var isHomeClass = is_home() ? 'full_page' : 'not-home-page'
    - is_post() ? isHomeClass = 'post-bg' : isHomeClass
  else
    - var isHomeClass = 'not-top-img'
else
  - var top_img = false
  - var isHomeClass = 'not-top-img'
//- 这里增加一个新的类nav-fixed
- const isFixedClass = theme.nav.fixed ? ' my-fixed nav-fixed' : ''


//
  1. nav为最顶部的菜单导航项
  2. 若没有关闭顶部banner图片显示(top_img不为false), 则根据不同的页面显示的内容就不一样
    a. post文章详情页: <div id="post-info"></div>具体看post-info.pug模块
    b. 主页: 
        <div id="site-info">
          <h1 id="site-title">主标题</h1>
          <div id="site-subtitle">副标题(可以滚动)</div>
          <div id="site_social_icons">社交链接(需要开关才开启, 否则display为none)</div>
        </div>
        <div id="scroll-down">下拉框按钮</div>
    c. 对于非主页和非文章页的归档等页面, 仅仅显示一个主标题即可

header#page-header(class=`${isHomeClass+isFixedClass}` style=bg_img)
  !=partial('includes/header/nav', {}, {cache: true})
  
  if top_img !== false
    if is_post()
      include ./post-info.pug
      include ./cloud.pug
    else if is_home() 
      #site-info
        h1#site-title=site_title
        if theme.subtitle.enable
          - var loadSubJs = true
          #site-subtitle
            span#subtitle
        if(theme.social)
          #site_social_icons
            !=partial('includes/header/social', {}, {cache: true})
      #scroll-down
        i.fas.fa-angle-down.scroll-down-effects
    else
      #page-site-info
        h1#site-title=site_title
      include ./cloud.pug